body {
    margin: 0;

    background-color: #F4F4F4;
    color: #926239;

    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 1.6em;
}

.main-colors {
    background-color: inherit;
    color: inherit;
}

.secondary-colors {
    background-color: #926239;
    color: #F4F4F4;
}

.welcome-section {
    width: 100%;
    height: 100vh;

    background-image: url(./../images/beachshowcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.welcome-section-article {
    padding-top: 40vmin;
}

.welcome-section-heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 50px;
    line-height: 1.2em;
}

.welcome-section-content {
    font-size: 20px;
}

.welcome-section-heading,
.welcome-section-content {
    max-width: 90vw;
    margin: 0 auto;
}

.welcome-section-link {
    display: inline-block;
    min-width: 100px;
    max-width: 150px;
    padding: 10px 20px;
    border: 1px solid;
    border-color: inherit;
    border-radius: 10px;
    margin-top: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 18px;
    text-decoration: none;
}

.welcome-section-heading,
.welcome-section-link {
    text-transform: capitalize;
}

.horizontal-section-article {
    display: inline-block;
    box-sizing: border-box;
    width: 33.33%;

    text-align: left;
}

.full-section-article,
.horizontal-section-article {
    padding: 20px;
}

.margin-section-content {
    margin: 0;
}